
.header{
    background-color: aqua;
}

.gameBoard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    height: 30%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    gap: 15px;
}

.gameBoard > div {
    border: 5px solid black;
    height: 100px;
    width: 300px;
    
}